In [1]:
import pandas as pd
df = pd.read_excel('/workspaces/mlops-zoomcamp-1/datasets/07/Native_Load_2025.xlsx')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Hour Ending  2879 non-null   object
 1   COAST        2879 non-null   float64
 2   EAST         2879 non-null   float64
 3   FWEST        2879 non-null   float64
 4   NORTH        2879 non-null   float64
 5   NCENT        2879 non-null   float64
 6   SOUTH        2879 non-null   float64
 7   SCENT        2879 non-null   float64
 8   WEST         2879 non-null   float64
 9   ERCOT        2879 non-null   float64
dtypes: float64(9), object(1)
memory usage: 225.1+ KB

In [3]:
df.describe(include='all')

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
count,2879,2879.000000,2879.000000,2879.000000,2879.000000,2879.000000,2879.000000,2879.000000,2879.000000,2879.000000
unique,2879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,01/01/2025 01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,13198.576869,1707.915506,7134.869400,1526.880398,14027.499966,3988.747415,7993.531247,1267.095153,50845.115953
std,NaN,1783.192716,424.400416,297.295425,239.526799,3141.685729,754.674549,1622.509189,206.709009,7544.656317
min,NaN,10046.927754,1060.112518,6042.457978,945.500890,9130.157852,2738.220882,5409.306689,927.340544,38490.059038
25%,NaN,11943.918676,1429.075996,6941.792372,1364.502497,11987.247226,3434.637378,6829.026613,1121.712922,45743.630933
50%,NaN,12797.584090,1600.474576,7128.843802,1482.326374,13251.308109,3829.760087,7600.124764,1209.475728,49285.096669
75%,NaN,14308.184828,1870.716051,7333.602496,1654.127451,15406.678660,4397.417443,8875.497575,1364.464757,54850.211825
max,NaN,18372.679601,3696.721811,8168.297031,2443.587976,27055.857432,7155.621786,14799.326075,2116.513358,80524.699422